* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}    

.pixel{
    border: solid 0.5px;
    flex: 1 1 auto;
}



#container{
    padding: 0;
    display: flex;
    justify-content: flex-start;
    border: 5px solid #ff0000;
    width: 510px;
    height: 510px;
};


